* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

body {
  background: rgb(58, 57, 57);
  font-family: "Roboto", sans-serif;
}

.travel-journal {
  width: 550px;
  height: auto;
  margin: 5% auto;
  background-color: #fff;
}

section {
  margin-right: 1rem 0;
  padding: 1rem 2rem;
}

@media(max-width:500px){
  .travel-journal {
    width: 100%;
  }
}